<!doctype html>
<html ng-app="contact">
<style>
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table td, table th{
  text-align: center;
  vertical-align: middle;
}
table th, div h2{
  color: #337ab7;
}
</style>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Contact List</title>
  </head>

  <body>
    <div ng-controller="Contact">
      <div class="container">
        <h2>External Contacts</h2>
        <span style="float:right">
          <button id='collapse_button' type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#collapse">
            <span id='collapse_icon' class="glyphicon glyphicon-minus"></span>
          </button>
          <span id='collapse_text'>Collapse</span>
        </span>
        <p>Select the client contacts asociated with this offer</p><br>
        <div id='collapse' class='collapse in'>
          <table class="table table-bordered" align='center'>
            <thead>
              <tr style="background-color: #ccc">
                <th><input type="checkbox" ng-click="allCheck()" ng-model="isAllChecked"/></th>
                <th>Type</th>
                <th>Name</th>
                <th>Title</th>
                <th>Phone</th>
                <th>Ext.</th>
                <th>Fax</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='contact in contactList.contacts'>
                <td><input type="checkbox" ng-model="contact.isChecked"/></td>
                <td>{{contact.type}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.title}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.ext}}</td>
                <td>{{contact.fax}}</td>
                <td>{{contact.email}}</td>
                <td><span class='glyphicon glyphicon-remove' ng-click="deleteContact($index)"></span></td>
              </tr>  
            </tbody>
          </table>
        </div>
        <div style="text-align: center">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Contact</button>
          <button type="button" class="btn btn-danger" ng-click="deleteSelectedContact()">Remove Contact</button>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a new contact</h4>
              </div>
              <div class="modal-body">
                <form ng-submit='addContact()'>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Type" ng-model='type'></input>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" ng-model='name' required></input>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Title" ng-model='title'></input>
                  </div>
                  <div class="form-group">
                    <input type="number" min="9999" max="9999999999" class="form-control" placeholder="Phone" ng-model='phone' required></input>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ext" ng-model='ext'></input>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Fax" ng-model='fax'></input>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" ng-model='email' required></input>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
  $('#collapse_button').click(function(){
    $('#collapse_text').text(($('#collapse_text').text() == 'Collapse') ? 'Expand' : 'Collapse');
    $(this).children('#collapse_icon').toggleClass('glyphicon-minus glyphicon-plus');
  });
</script>
